:root{ --text: #0d000f;
    --background: #f8d2fe;
    --primary: #fbe96f;
    --secondary: #f3b4fd;
    --accent: #06e0c3;
    --box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);

--font-title: 32px;
--font-body: 18px;
--font-small: 14px;
--font-weight-regular: normal;
--font-weight-bold: bold;
--border-radius: 10px;
}
  
body {
    font-family: 'Poppins', sans-serif;
    color: var(--text);
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    margin: 0;
    background-color: var(--background);
}
  
  .placar {
    display: none;
    justify-content: center;
    align-items: center;
  }
  
  .lado {
    width: 200px;
    height: 200px;
    padding: 20px;
    background-color: var(--primary);
    border-radius: var(--border-radius);
    box-shadow: var(--box-shadow);
    margin: 10px;
    color: var(--text);
  }
  
  .lado h2 {
    font-size: var(--font-title);
    margin: 0;
    text-align: center;
  }
  p {
    font-size: var(--font-body);
  }
  
  .gasto-eduardo,
  .gasto-sarana {
    text-align: center;
    font-weight: bold;
  }
  
  .linha {
    width: 2px;
    background-color: var(--text);
    height: 250px;
    margin: 0 20px;
  }
  
  .despesa {
    display: flex;
    justify-content: center;

    width: 200px;
    height: 200px;
    padding: 20px;
    background-color: var(--primary);
    border-radius: var(--border-radius);
    box-shadow: var(--box-shadow);
    margin: 10px;
    color: var(--text);
  }
  